.subscribe
{
    width: 100%;
    padding: 250px 0;
    overflow: hidden;
    &__inner
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        h1
        {
            color: rgba(255, 255, 255, 0.9);
            text-align: left;
            font-weight: 400;
            line-height: 140%;
            font-size: 50px;
        }
    }
    &__subtitle
    {
        width: 100%;
        max-width: 427px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        h3
        {
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.418);
            text-align: center;
        }
    }
    &__form
    {
        width: 497.66px;
        height: 64px;
        border-radius: 15px;
        overflow: hidden;
        padding: 8px 11px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #283036;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 132px;
        &--content
        {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon
            {
                position: absolute;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 6px;
                left: 0;
            }
        }
        &--input
        {
            background-color: transparent;
            padding: 5px 0 0 36px;
            border: none;
            font-size: 14px;
            outline: none;
            color: rgba(255, 255, 255, 0.38);
            text-align: left;
            font-weight: 300;
            width: 100%;
        }
        &--btn
        {
            min-width: 130.43px;
        }
    }
}