<section class="brand">
    <div class="brand__container container">
        <div class="brand__inner">
            <div class="brand__wrapper">
                <div class="brand__content">
                    <div class="brand__title">
                        <h2>Trusted more than 150+ brand</h2>
                    </div>
                    <div class="brand__items">
                        <img src="img/microsoft.png" alt="" class="brand__item">
                        <img src="img/google.png" alt="" class="brand__item">
                        <img src="img/slack.png" alt="" class="brand__item">
                        <img src="img/wordpress.png" alt="" class="brand__item">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>