<section class="hero" id="hero" style="background-image: url('img/hero-background.png');">
    <div class="hero__container container">
        <div class="hero__inner">
            <div class="hero__content">
                <div class="hero__title">
                    <h1>Awesome tools for Designer & Developer.</h1>
                </div>
                <div class="hero__subtitle">
                    <h3>Antool is a web collection of information on paid or free Design and Development tools</h3>
                </div>
                <form action="" class="hero__form">
                    <div class="hero__form--content">
                        <div class="icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="text" name="search" class="hero__form--input" placeholder="find more than 430+ tools...">
                        <button class="hero__form--btn btn-primary">Search</button>
                    </div>
                </form>
                <ul class="social-list list-reset">
                    <li class="social-list__item">
                        <a href="" class="social-list__link link-reset">
                            <img src="img/facebook.svg" alt="" class="social-list__icon">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="" class="social-list__link link-reset">
                            <img src="img/instagram.svg" alt="" class="social-list__icon">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="" class="social-list__link link-reset">
                            <img src="img/twitter.svg" alt="" class="social-list__icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>