<section class="newcomer">
    <div class="newcomer__container container">
        <div class="newcomer__inner">
            <div class="newcomer__content">
                <div class="newcomer__col">
                    <div class="newcomer__title">
                        <h2>Newcomer Tools</h2>
                    </div>
                    <div class="newcomer__param">
                        <p>Wow! see the latest update of the most recommended tools from reliable designers and developers</p>
                    </div>
                    <a href="#" class="btn-primary link-reset">Explore more</a>
                </div>
                <div class="newcomer__col">
                    <div class="newcomer__grid">
                        <div class="newcomer__card">
                            <div class="newcomer__card--content">
                                <div class="newcomer__card--header">
                                    <img src="img/zelpin.svg" alt="" class="newcomer__card--icon">
                                    <div class="newcomer__card--titles">
                                        <h3>Zelpin</h3>
                                        <h4>Free & Paid</h4>
                                    </div>
                                </div>
                                <div class="newcomer__card--body">
                                    <div class="newcomer__card--descr">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="newcomer__card--footer">
                                    <div class="newcomer__card--icon">
                                        <a href="#" class="link-reset">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="/" class="link-reset">
                                            <img src="img/folder-icon.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="newcomer__card--btn">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="newcomer__card">
                            <div class="newcomer__card--content">
                                <div class="newcomer__card--header">
                                    <img src="img/phpstorm.svg" alt="" class="newcomer__card--icon">
                                    <div class="newcomer__card--titles">
                                        <h3>PHPStorm</h3>
                                        <h4>Free</h4>
                                    </div>
                                </div>
                                <div class="newcomer__card--body">
                                    <div class="newcomer__card--descr">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="newcomer__card--footer">
                                    <div class="newcomer__card--icon">
                                        <a href="#" class="link-reset">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="/" class="link-reset">
                                            <img src="img/folder-icon.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="newcomer__card--btn">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="newcomer__card">
                            <div class="newcomer__card--content">
                                <div class="newcomer__card--header">
                                    <img src="img/toolbox.svg" alt="" class="newcomer__card--icon">
                                    <div class="newcomer__card--titles">
                                        <h3>Toolbox</h3>
                                        <h4>Free</h4>
                                    </div>
                                </div>
                                <div class="newcomer__card--body">
                                    <div class="newcomer__card--descr">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="newcomer__card--footer">
                                    <div class="newcomer__card--icon">
                                        <a href="#" class="link-reset">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="/" class="link-reset">
                                            <img src="img/folder-icon.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="newcomer__card--btn">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="newcomer__card">
                            <div class="newcomer__card--content">
                                <div class="newcomer__card--header">
                                    <img src="img/procreate.svg" alt="" class="newcomer__card--icon">
                                    <div class="newcomer__card--titles">
                                        <h3>Procreate</h3>
                                        <h4>Paid</h4>
                                    </div>
                                </div>
                                <div class="newcomer__card--body">
                                    <div class="newcomer__card--descr">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="newcomer__card--footer">
                                    <div class="newcomer__card--icon">
                                        <a href="#" class="link-reset">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="/" class="link-reset">
                                            <img src="img/folder-icon.svg" alt="">
                                        </a>
                                    </div>
                                    <a href="" class="newcomer__card--btn">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>