<section class="popular">
    <div class="popular__container container">
        <div class="popular__inner">
            <div class="polular__headline">
                <div class="popular__title">
                    <h1>Most Popular Tools</h1>
                </div>
                <div class="popular__subtitle">
                    <h3>Tools for the best Designers and Developers most popularly used in the world</h3>
                </div>
            </div>
            <div class="popular__content">
                <div class="popular__grid">
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/figma.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Figma</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/sketch.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Sketch</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/vs-code.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Visual Studio Code</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/notion.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Notion</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/slack.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Slack</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="popular__card">
                        <div class="popular__card--content">
                            <div class="popular__card--header">
                                <img src="img/invision.svg" alt="" class="popular__card--icon">
                                <div class="popular__card--titles">
                                    <h3>Invision</h3>
                                    <h4>Free</h4>
                                </div>
                            </div>
                            <div class="popular__card--body">
                                <div class="popular__card--descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="popular__card--footer">
                                <div class="popular__card--icon">
                                    <a href="#" class="link-reset">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/" class="link-reset">
                                        <img src="img/folder-icon.svg" alt="">
                                    </a>
                                </div>
                                <a href="" class="popular__card--btn">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular__more">
                    <a href="" class="link-reset btn-border">Load more</a>
                </div>
            </div>
        </div>
    </div>
</section>